.list {
    padding: 16px;

    ion-note {
        display: block;
    }

    .item-danger {
        color: var(--danger-40);
    }

    & > div {
        margin-bottom: 20px;
    }

    ion-button {
        width: 100%;
    }
}

.footer {
    --background: inherit;

    padding: 4px 16px;
}
