.list {
    ion-note {
        display: block;
    }

    .item-danger {
        color: var(--danger-40);
    }
}

.footer {
    max-height: 50px;
    padding: 4px 16px;

    --background: inherit;
    --ion-toolbar-background: var(--base-10);
    --border-color: var(--base-10);

    ion-toolbar {
        --border-color: var(--base-10);
    }

    ion-item {
        --border-color: var(--base-10);
    }
}
