.tab-bar {
    --border: none;
    --background: var(--base-0);

    &.unauthorized {
        display: none;
    }

    @include desktop {
        display: none;
    }
}

.tab-button {
    --ripple-color: var(--base-40);
}

.icon {
    color: (var(--base-120));

    &-active {
        color: (var(--brand-primary-40));
    }
}
