.avatar-modal {
    --background: var(--base-10);
    --border-radius: 24px;

    @include mobile {
        --border-radius: 0;
    }

    @include desktop {
        --height: 520px;
    }

    ion-content {
        --background: var(--background);
    }

    ion-toolbar {
        --ion-toolbar-background: var(--background);
    }
}
