@mixin cut-for-n-rows($n: 2) {
    display: -webkit-box;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
    -webkit-line-clamp: $n;
    -webkit-box-orient: vertical;
}

@mixin no-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@mixin custom-scrollbar($track: var(--primary-30)) {
    &::-webkit-scrollbar {
        position: absolute;
        width: 8px;
        height: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $track;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #cdcdcd80;
        border: 2px solid $track;
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #b4b4b480;
    }
}

@mixin use-border-box-sizing() {
    &,
    * {
        box-sizing: border-box;
    }
}

@mixin fill-svg-and-path($color, $transition-duration: 200ms) {
    transition: fill $transition-duration;
    fill: $color;

    path {
        transition: fill $transition-duration;
        fill: inherit;
    }
}

@mixin fullscreen-modal() {
    --height: calc(100% - (var(--ion-safe-area-top)));
}

@mixin centered-flexbox() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin common-icon-self-size() {
    width: 24px;
    height: 24px;
}

@mixin common-svg-size() {
    svg {
        @include common-icon-self-size();
    }
}

@mixin common-form-card-layout {
    --ion-item-background: var(--base-10);

    @include centered-flexbox;

    flex-direction: column;
    max-width: 440px;
    padding: 0 20px;
    overflow: hidden;
    background-color: var(--base-10);
    border-radius: 24px;
}

@mixin page-layout {
    ion-content {
        --padding-start: 40px;
        --padding-end: 40px;

        max-width: 1440px;
        margin: auto !important;

        @include mobile {
            max-width: 100%;

            --padding-start: 16px;
            --padding-end: 16px;
        }
    }
}
