/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@import url('./light-theme.scss');
@import url('./dark-theme.scss');

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: var(--primary-50);
    --ion-color-primary-rgb: var(--primary-50-rgb);
    --ion-color-primary-contrast: var(--base-0);
    --ion-color-primary-contrast-rgb: var(--base-0-rgb);
    --ion-color-primary-shade: var(--primary-60);
    --ion-color-primary-tint: var(--primary-30);

    /** secondary **/
    --ion-color-secondary: var(--secondary-50);
    --ion-color-secondary-rgb: var(--secondary-50-rgb);
    --ion-color-secondary-contrast: var(--base-0);
    --ion-color-secondary-contrast-rgb: var(--base-0-rgb);
    --ion-color-secondary-shade: var(--secondary-60);
    --ion-color-secondary-tint: var(--secondary-30);

    /** tertiary **/
    --ion-color-tertiary: var(--primary-60);
    --ion-color-tertiary-rgb: var(--primary-60-rgb);
    --ion-color-tertiary-contrast: var(--base-0);
    --ion-color-tertiary-contrast-rgb: var(--base-0-rgb);
    --ion-color-tertiary-shade: var(--primary-70);
    --ion-color-tertiary-tint: var(--primary-50);

    /** success **/
    --ion-color-success: var(--success-40);
    --ion-color-success-rgb: var(--success-40-rgb);
    --ion-color-success-contrast: var(--base-0);
    --ion-color-success-contrast-rgb: var(--base-0-rgb);
    --ion-color-success-shade: var(--success-50);
    --ion-color-success-tint: var(--success-30);

    /** warning **/
    --ion-color-warning: var(--warning-40);
    --ion-color-warning-rgb: var(--warning-40-rgb);
    --ion-color-warning-contrast: var(--base-110);
    --ion-color-warning-contrast-rgb: var(--base-110-rgb);
    --ion-color-warning-shade: var(--warning-50);
    --ion-color-warning-tint: var(--warning-30);

    /** danger **/
    --ion-color-danger: var(--danger-40);
    --ion-color-danger-rgb: var(--danger-40-rgb);
    --ion-color-danger-contrast: var(--base-0);
    --ion-color-danger-contrast-rgb: var(--base-0-rgb);
    --ion-color-danger-shade: var(--danger-50);
    --ion-color-danger-tint: var(--danger-30);

    /** light **/
    --ion-color-light: var(--base-0);
    --ion-color-light-rgb: var(--base-0-rgb);
    --ion-color-light-contrast: var(--base-110);
    --ion-color-light-contrast-rgb: var(--base-110-rgb);
    --ion-color-light-shade: var(--base-10);
    --ion-color-light-tint: var(--base-0);

    /** medium **/
    --ion-color-medium: var(--base-80);
    --ion-color-medium-rgb: var(--base-80-rgb);
    --ion-color-medium-contrast: var(--base-0);
    --ion-color-medium-contrast-rgb: var(--base-0-rgb);
    --ion-color-medium-shade: var(--base-90);
    --ion-color-medium-tint: var(--base-70);

    /** dark **/
    --ion-color-dark: var(--base-100);
    --ion-color-dark-rgb: var(--base-100-rgb);
    --ion-color-dark-contrast: var(--base-0);
    --ion-color-dark-contrast-rgb: var(--base-0-rgb);
    --ion-color-dark-shade: var(--base-110);
    --ion-color-dark-tint: var(--base-90);
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body.dark,
.md body.dark {
    --ion-background-color: var(--base-0);
    --ion-background-color-rgb: var(--base-0-rgb);
    --ion-text-color: var(--base-110);
    --ion-text-color-rgb: var(--base-110-rgb);
    --ion-color-step-50: #242c38;
    --ion-color-step-100: #2d3440;
    --ion-color-step-150: #363c48;
    --ion-color-step-200: #3f4550;
    --ion-color-step-250: #484e58;
    --ion-color-step-300: #515761;
    --ion-color-step-350: #5a606a;
    --ion-color-step-400: #646972;
    --ion-color-step-450: #6e727b;
    --ion-color-step-500: #787c84;
    --ion-color-step-550: #82868d;
    --ion-color-step-600: #8c8f97;
    --ion-color-step-650: #9699a0;
    --ion-color-step-700: #a0a3a9;
    --ion-color-step-750: #abaeb3;
    --ion-color-step-800: #b5b8bd;
    --ion-color-step-850: #c0c2c6;
    --ion-color-step-900: #cbcdd0;
    --ion-color-step-950: #d6d7da;
    --ion-item-background: var(--base-110);
    --ion-card-background: var(--base-10);
}

.ios body.dark ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
}
